.modal {
    z-index: 999;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modalOpen {
    display: flex;
}

.modalContent {
    width: 27rem;
    height: 15rem;
    padding: 2rem;
    border-radius: var(--rounded-lg);
    background-color: #202024;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalContent h3 {
    font-weight: var(--font-bold);
    line-height: 1.4;
    color: var(--gray-100);
}

.modalContent p {
    margin: 1.5rem 0;
    line-height: 1.6;
    color: var(--gray-200);
}

.modalContent div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


.modalContent button {
    cursor: pointer;
    height: 3rem;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: var(--rounded-lg);
    background-color: var(--gray-700);

    font-weight: var(--font-bold);
    line-height: 1.6;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    transition: background-color 1s;
}

.modalContent button:last-child {
    color: var(--red-500);
}

.modalContent button:hover {
    background-color: var(--gray-600);
}
